  {# Navigation pour tous les pages #}
        <nav>
        <a href="">Option 1 public</a>
        <a href="">Option 2 public</a>

    {# Liens que pour l'admin #}
        {% if is_granted ('ROLE_ADMIN') %}
        <a href="">Option 3 admin</a>
        <a href="">Option 4 admin</a>
        {% endif %}

    {# Liens que pour tous les users connectés #}
        {% if is_granted ('ROLE_USER') %}
        <a href="">Option 5 user</a>
        <a href="">Option 6 user</a>
        {% endif %}


        {% if app.user %}
        Connecté: {{app.user.email}}
        {# and any other stuff you want only visible if connected #}
        <a href="{{ path ('app_logout')}}">Logout</a>

        {% else %}
                <a href="{{ path ('app_login')}}">Login</a>
        {% endif %}

        
        {# <a href="">Option 2</a> #}
        {# {% if app.user.hasRo %} #}
            {# <a href="">Option Uniquement Admin</a>
        {% endif %} #}

        </nav>